@page "{id:int}"
@model CoffeeCrazy.Pages.AssignmentSets.DetailsModel
@{
    ViewData["Title"] = "AssignmentSet Details";
}
<h1>OpgaveSet Detailjer</h1>
<div>
    <p><strong>Titel:</strong> @Model.AssignmentSet.Title</p>
    <p><strong>Deadline:</strong> @Model.AssignmentSet.Deadline</p>
    <p><strong>Udført:</strong> @(Model.AssignmentSet.SetCompleted ? "Ja" : "Nej")</p>
    <p><strong>Maskine ID:</strong> @Model.AssignmentSet.MachineId</p>
</div>

<h2>Opgaver</h2>
<ul>
    @foreach (var assignment in Model.Assignments)
    {
        <li>
            <p><strong>Titel:</strong> @assignment.Title</p>
            <p><strong>Kommentar:</strong> @assignment.Comment</p>
            <p><strong>Oprettet:</strong> @assignment.CreateDate</p>
            <p><strong>Udført:</strong> @(assignment.IsCompleted ? "Ja" : "Nej")</p>
        </li>
    }
</ul>
<a asp-page="/Index" class="btn btn-secondary">Tilbage til alle opgavesæts</a>
<a asp-page="/Update" asp-route-id="@Model.AssignmentSet.AssignmentSetId" class="btn btn-primary">Ret i opgavesæt</a>
