@page
@model CoffeeCrazy.Pages.AssignmentSets.IndexModel
@{
    ViewData["Title"] = "AssignmentSet - Index";
}

<h1>AssignmentSet - Index</h1>
<a asp-page="Create">Create New AssignmentSet</a>
<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Deadline</th>
            <th>udført</th>
            <th>Maskine Ide</th>
            <th>Hvad VIL DU!</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AssignmentSets)
    {
        <tr>
                <td>@item.Title</td>
            <td>@item.Deadline</td>
            <td>@(item.SetCompleted ? "Yes" : "No")</td>
            <td>@item.MachineId</td>
            <td>
                <a asp-page="/Details" asp-route-id="@item.AssignmentSetId">Se indhold</a> |
                <a asp-page="/Update" asp-route-id="@item.AssignmentSetId">Updater</a> |
                <a asp-page="/Delete" asp-route-id="@item.AssignmentSetId">Slet</a>
            </td>
        </tr>
    }
    </tbody>
</table>

