@page
@using CoffeeCrazy.Models
@using CoffeeCrazy.Models.Enums
@model CoffeeCrazy.Pages.Jobs.IndexModel
@{

}
<h1>Camillas Overblik Side</h1>

<br />
<p class="text-danger">Hvis deadline er overskredet og jobbet er ikke udført af nogen, så er rækken rød</p>
<p class="text-success">Hvis jobbet er udført, er rækken grøn</p>
<p>Hvis ingen af ovenstående er sand, er rækken bare hvid</p>
<br />


<div class="container">
    <div class="row">
        @foreach (var machine in Model.Machines)
        {
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Maskine ID</th>
                            <th>Opgave Titel</th>
                            <th>Beskrivelse</th>
                            <th>Kommentar</th>
                            <th>Oprettet dato</th>
                            <th>Deadline</th>
                            <th>Hyppighed</th>
                            <th>Medarbejder Navn</th>
                            <th>Er Udført?</th>
                            <th>Slet opgave</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Job job in Model.Jobs)
                        {
                            if (machine.MachineId == job.MachineId)
                            {

                                JobTemplate jobTemplate = Model.JobTemplates.FirstOrDefault(jobTemplateParameter => jobTemplateParameter.JobTemplateId == job.JobTemplateId);
                                Frequency frequency = Model.Frequencies.FirstOrDefault(frequencyParameter => (int)frequencyParameter == job.FrequencyId);
                                User user = Model.Users.FirstOrDefault(userParameter => userParameter.UserId == job.UserId);

                                if (jobTemplate != null && frequency != null)
                                {
                                    /*denne string holder en bootstrap klasse for table <tr>
                                    Jed godt vi ikke kommer til at bruge bootstrap men her ville vi fx. skrive en CSS klasse*/
                                    string rowClass =
                                    /*Hvis deadline er overskredet og jobbet er ikke udført af nogen, så er rækken rød*/
                                    job.Deadline < DateTime.Now && !job.IsCompleted ? "table-danger" :
                                    /*Hvis jobbet er udført, er rækken grøn*/
                                    job.IsCompleted ? "table-success" :
                                    /*Hvis ingen af ovenstående er sand, er rækken bare hvid*/
                                    "table-light";

                                    <tr class="@rowClass">
                                        <td>@job.MachineId</td>

                                        <td>@jobTemplate.Title</td>

                                        <td>@jobTemplate.Description</td>

                                        @if (job.Comment != null)
                                        {
                                            <td>@job.Comment</td>
                                        }
                                        else
                                        {
                                            <td>Ingen kommentar</td>
                                        }

                                        <td>@job.CreatedDate</td>

                                        <td>@job.Deadline</td>

                                        <td>@frequency</td>

                                        @if (job.UserId != null)
                                        {
                                            <td>@user.FirstName @user.LastName</td>
                                        }
                                        else if (job.UserId == null && job.Deadline > DateTime.Now)
                                        {
                                            <td class="text-warning">Venter på at blive udført</td>
                                        }
                                        else
                                        {
                                            <td class="text-danger">Ikke udført af nogen</td>
                                        }
                                        <td>@job.IsCompleted</td>
                                        <td>
                                            <a href="/Jobs/Update?id=@job.JobId">Update</a>
                                            <a class="btn btn-danger btn-sm" asp-page="Update" asp-route-id="@job.JobId">Update</a>

                                        </td>
                                        <td>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#sletModal_@job.JobId">Slet</button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="sletModal_@job.JobId" tabindex="-1" aria-labelledby="sletModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="sletModalLabel" style="color:black;">Er du sikker på du vil slette denne job "@jobTemplate.Title" på maskine @job.MachineId?</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Fortryd</button>
                                                            <a class="btn btn-danger btn-sm" asp-page="Delete" asp-route-id="@job.JobId">Slet</a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            }
                        }
                    </tbody>

                </table>

            </div>

        }

    </div>
</div>
