@page
@model CoffeeCrazy.Pages.Jobz.IndexModel
@{
    ViewData["Title"] = "Jobs - Index";
}

<h1>Jobs - Index</h1>
<a asp-page="Create">Create New Job</a>
<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Description</th>
            <th>Comment</th>
            <th>Is Completed</th>
            <th>Deadline</th>
            <th>User Id</th>
            <th>udført</th>
            <th>Maskine Ide</th>
            <th>Hvad VIL DU!</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var job in Model.Jobs)
    {
            @foreach (var jobTemplate in Model.JobTemplates)
            {
                if (job.JobTemplateId == jobTemplate.JobTemplateId)
                {
                    <tr>
                        <td>@jobTemplate.Title</td>
                        <td>@jobTemplate.Description</td>
                        <td>@job.Comment</td>
                        <td>@job.IsCompleted</td>
                        <td>@job.MachineId</td>
                        <td>@job.UserId</td>
                    </tr>
                }
            }
    }
    </tbody>
</table>

